@media (max-width:900px) {

    /* ----------------------header------------------- */
    .main-nav {
        display: none;
    }

    .bar-menu {
        display: block;
    }

    .main-nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: black;
        padding: 10px;

    }

    .main-nav::before {
        content: "";
        position: absolute;
        border: 1px solid;
        border-color: transparent transparent blue transparent;
        width: 20px;
        height: 20px;
        top: -20px;
        right: 3px;

    }

    .main-nav li:nth-child(5) .down {
        display: none;
    }

    .main-nav li:nth-child(5):hover .sub-nav {
        flex-direction: column;
        left: 75px;
        top: 0;
    }

    nav {
        position: relative
    }

    /* ---------------------landing----------------------- */
    .landing .text h2 {
        font-size: 1em;
    }

    .landing .text h1 {
        font-size: 3em;
    }

    /* ------------------menu--------------------- */
    .menu .container {
        flex-direction: column;
    }

    .booking .content {
        flex-direction: column;
    }

    .booking .form-group {
        width: 100%;
        flex-basis: 100%;
    }

    /* -------------------test--------------------- */
    .test .container {
        flex-direction: column;
        justify-content: center;
    }

    .test .data {
        justify-content: center;

    }
}